  on:
   push:
    branches:
     -main
  name: FTP Deployer
  jobs:
   build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
         sftp: false # optional
         host: ${{ secrets.FTP_HOST }} # e.g. ftp.host.com or sftp.host.com (without ftp:// or ftps://)
         port: 21 # optional, default is: 21
         username: ${{ secrets.FTP_USERNAME }} # FTP username
         password: ${{ secrets.FTP_PASSWORD }} # FTP password
         remote_folder: ${{ secrets.FTP_REMOTE_FOLDER }} # optional, remote path of your FTP server
         local_folder: dist # optional, local path, default is: dist
         cleanup: false # optional, remove existing files inside FTP remote folder
         include: '[]' # optional, e.g. '['dist']'
         exclude: '[]' # optional, e.g. '['node_modules/**', '.git/**', '*.env']'
         passive: true # optional
